body{
    font-family: Arial, Helvetica, sans-serif;

}
.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns:200px 150px 200px;
    column-gap: 10px;
    row-gap: 10px;

}
.todo-input-grid{
    margin-bottom:10px;
}
button .name-input,.duedate-input{
    padding: 10px;
  
}
.add-btn{
    background-color: #48C23E;
    border: none;
    font-size: medium;
    font-weight: 300;
    color: white;
    
}
.dlt-btn{
    background-color: #b80505;
    border: none;
    font-size: medium;
    font-weight: 300;
    color: white;
    padding: 10px;
}
